.banner
	//background-color $yellow
	background linear-gradient(top, $yellow, $lightYellow1)
	padding 20px 0
	margin-bottom 10px
	//border-bottom 2px solid $orange

.intro
	margin 0
	padding 10px
	color #333333
	//background-color white
	@media $screenBig
		margin 0 0 0
		padding 0
.home
	h1
		margin 5px 0
		font-size 20px
		text-shadow 0 1px 1px rgba(255,255,255,0.8)
		@media $screenBig
			margin 15px 0
			font-size 44px
	h2
		text-shadow 1px 1px 1px rgba(255,255,255,0.9)
		font-size 36px
			
p.hello
	margin 0 0 10px
	//font-size 28px

img.osaka
	float right
	border-radius 80px

hr.spacer
	visibility hidden
	clear both
	margin 0
	border 0

.block
	margin-bottom 20px
	padding 10px
	background-color white
	img
		//margin 10px
	.body
		margin 0
	.content
		//padding 10px
		@media (min-width:980px)
			padding 10px

	h3
		margin 0 5px 10px
		//color white
		//padding 5px 10px
		//background-color $orange
		background-color white
		font-size 24px
		font-weight normal
		//border-bottom 2px solid $lightGrey
	.footer
		padding 10px
		text-align center
		background-color white
	.date
		font-size 14px
		padding 0 0 2px
		text-align right
		font-family Verdana
		text-transform uppercase

.skill
	h3
		//background-color $blue
	img
		margin-bottom 10px
.logos
	img
		height: inherit

h2.skills
	//color $blue
h2.latest-posts
	//color $orange

p.whoiam
	margin-bottom 10px
#readmore-content
	padding-top 10px