.banner
  background linear-gradient(top, $yellow, $lightYellow1)
  padding 0
  margin-bottom 10px
  @media $screenMedium
    padding 10px 0
  @media $screenBig
    padding 20px 0
.intro
  margin 0
  padding 10px
  color #333333
  @media $screenXL
    margin 0 0 0
    padding 0
.home
  .intro
    a
      text-decoration none
      &:hover
        color $orange
  h1
    margin 5px 0
    font-size 24px
    text-shadow 0 1px 1px rgba(255,255,255,0.8)
    @media $screenMedium
      font-size 24px
    @media $screenBig
      margin 15px 0
      font-size 36px
      line-height 32px
    @media $screenXL
      margin 15px 0
      font-size 44px
      line-height 40px
  h2
    margin 10px 0
    padding-left 10px
    text-shadow 1px 1px 1px rgba(255,255,255,0.9)
    font-size 24px
    @media $screenMedium
      font-size 28px
      margin 15px 0
    @media $screenBig
      font-size 36px
      margin 25px 0
    @media $screenXL
      padding-left 0

p.hello
  margin 0 0 10px
  //font-size 28px

img.osaka
  float right
  border-radius 50%
  width 40%
  height auto
  @media $screenSmall
    width 160px
  @media $screenBig
    width 200px
  

hr.spacer
  visibility hidden
  clear both
  margin 0
  border 0

.block
  margin-bottom 20px
  @media $screenBig
    margin-bottom 40px

  padding 10px
  background-color white
  .body
    margin 0
  .content
    @media (min-width:980px)
      padding 10px

  h3
    margin 0 5px 10px
    background-color white
    font-size 20px
    font-weight normal
    @media $screenMedium
      font-size 24px
      
  .footer
    padding 10px
    text-align center
    background-color white
  .date
    font-size 14px
    padding 0 0 2px
    text-align right
    font-family Verdana
    text-transform uppercase

.skill
  img
    margin-bottom 10px
.logos
  img
    height: inherit


p.whoiam
  margin-bottom 10px
#readmore-content
  padding-top 10px
  
.flag
  vertical-align bottom

.github-project
  .count
    float right
    color $yellow
  .description
    .fa
      color $lightGrey
      
.view-all
  margin 10px 0
  a
    display block
  //padding 10px
  //background-color white
  //text-align center
