.japanese
  .main
    font-size: 14px
    line-height 22px
  .intro
    font-size 18px
    line-height 28px
  .logo
    margin-top 10px
  p
    margin-bottom 3px
  .logo
    float right
  h1
    font-size 2.5em
    @media print
      font-size 2em
      color $orange
  h2,h3  
    color $orange
  h2
    color $orange
    font-size 32px
  .break
    page-break-before always
  h3
    color $orange
    font-size 20px
    font-weight normal

  .skills
    width 100%
    font-size 12px
    th
      font-weight normal
  ul
    margin-top 0
    &:last-child
      margin-bottom: 0
  .block
    padding 20px
    @media print
      padding 0
    h2
      margin 0
    h3
      margin 20px 0 10px
      &:first-child
        margin-top 0
  .project
    h3
      margin-top 0
    .buttons
      text-align center
      margin-bottom: 10px;
    .pure-button
      margin-right 10px
