.posts
	.post
		background-color white
		margin-bottom 20px
		padding 20px
		border-radius: 6px;
		.date
			width 100%
			font-size 16px
			color $orange
			text-align left
		h2
			margin-top 0
		.button-container
			text-align center

.post-title
	margin-top 0

.white-block
	background-color white
	margin 20px 0
	padding 20px
	border-radius 6px

.last-update
	font-size 12px

code
	background-color: #F9F2F4;
	border-radius: 4px;
	color: #C7254E;
	padding: 2px 4px;

pre code
	font-size 14px

//bootstrap post
.navbar .container
	width 100%
.bootstrap
	.second-col
		font-size 16px
.panel-heading .accordion-toggle:after
	font-family 'Glyphicons Halflings'
	content "\e114" //chevron displayed for expanded items
	float right
.panel-heading .accordion-toggle.collapsed:after
	content "\e080" //chevron displayed for collapsed items

//coffeescript
.filesystem 
		list-style none outside none
.codepen
	border 1px solid #3d3d3e
