.project
	padding 20px
	background-color white
	margin-bottom 20px
	h2
		margin-top 0
	.customer
		color $orange
	ul
		margin-bottom 10px
	.thumbnail
		display block
		border 1px solid #ccc
		padding 4px
		border-radius 4px
		margin-bottom 10px
		