.resume
	h1
		font-size 24px
		padding 0
		margin-top 0
		@media $screenMedium
			font-size 36px
	img
		margin-left 5px
	.main
		margin 20px auto
		max-width 800px
		padding 20px
		background-color white


ul.reset
	list-style none
	padding-left 0
	margin-left 0
		li
			padding-bottom 3px

.experience
	padding-left:10px
	border-left: solid 3px $yellow
	margin-bottom:25px
	h3
		margin-top: 0

.experience-date
	margin-bottom: 0
	color: $orange

.experience-location
	margin-bottom: 0
	color: $orange
	@media (min-width: 960px)
		text-align:right

.resp
	font-size inherit

  
  
