$lightGrey = #EEECE5
$darkGrey = #333333
$orange = #E35D00
$blue = #3b8bba
$yellow = #f5bc06
$lightYellow1 = #FBDC74
$lightYellow2 = #FDEBAF


$screenSmall = '(min-width:480px)'
$screenMedium = '(min-width:768px)'
$screenBig = '(min-width:980px)'
$screenXL = '(min-width:1170px)'