@import 'nib'
@import 'include/variables.styl'
@import 'include/base.styl'
@import 'include/header.styl'
@import 'include/home.styl'
@import 'include/resume.styl'
@import 'include/projects.styl'
@import 'include/posts.styl'
@import 'include/post-entry.styl'
@import 'include/bootstrap-overwrite.styl'

p
	margin 0 0 1em
a.icon, .email
	text-decoration none


a
	color $blue
	&:hover
		text-decoration none
	img
		text-decoration none

.container
	margin 0 auto
	max-width 1170px
	//background-color white

.first-col
	@media $screenMedium
		//padding-right 50px


footer
	padding 20px
	background-color #444444
	color #999999
	box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.5) inset;
	font-size 16x
	p
		margin 5px 0
		text-align center

.slider
	overflow-y hidden
	max-height 500px
	@media $screenMedium
		max-height 300px
	transition-property all
	transition-duration: .5s
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
.closed
	max-height: 0