---
menuId: HOME
layout: layout-japanese
title: ミカエル　ランボー プロフィール
menuId: APPS
className: responsive-demo
---
h2 Responsive Web Design DEMO 

div.pure-g-r
	.pure-u-1-2
		h2 Before...
		p スマホで使い勝手が悪く　zoom が必要でした。。。
		div.device-mobile
			iframe.zoom(src="http://michaelrambeau.com/it/projects/brastelremit-v1/",scrolling="no",frameborder="0")
	.pure-u-1-2
		h2 After! 
		p
			| 2014年07月リリーズ後の 
			a(href="http://brastelremit.jp/") brastelremit.jp
		div.device-mobile
			iframe(src="http://brastelremit.jp",scrolling="yes",frameborder="0")